body{
    font-family: 'Open Sans', sans-serif;
    background-color: cornflowerblue;
}
.container{
    display: grid;
    grid-template-areas: 
    "header header"
    "nav nav"
    "sidebar content"
    "footer footer";
}

header{
    grid-area: header;
    /* background-color: ; */
}

nav{
    grid-area: nav;
    /* background-color: cornflowerblue; */
}

aside{
    grid-area: sidebar;
   /* background-color: cornflowerblue; */
}

.content{
    grid-area: content;
    /* background-color: cornflowerblue; */
}

footer{
    grid-area: footer;
    /* background-color: cornflowerblue; */
}